<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth2.0 연습하기</title>
<!--  <link rel="stylesheet" href="/login.css">-->
<!--  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>-->
<!--  <script defer src="/login.js"></script>-->
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<!--  <div class="login">-->
<!--    <p>SNS 로그인</p>-->
<!--    <div>-->
<!--      <div id="naverIdLogin"></div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- 네이버 로그인 버튼 노출 영역 -->
  <div id="naver_id_login"></div>

  <!-- //네이버 로그인 버튼 노출 영역 -->
  <script type="text/javascript">
  	var naver_id_login = new naver_id_login("9pmuWV3hdE23LuAsDCL6", "http://localhost:9080/OAuth2-study/callback");
  	var state = naver_id_login.getUniqState();
  	naver_id_login.setButton("green", 3, 55);
  	naver_id_login.setDomain("http://localhost:9080/OAuth2-study");
  	naver_id_login.setState(state);
  	naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();
  </script>
</body>
</html>