<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth2.0 연습하기</title>
  <link rel="stylesheet" href="/login.css">
  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
  <script defer src="/login.js"></script>
</head>
<body>
  <div class="login">
    <p>SNS 로그인</p>
    <div>
      <div id="naverIdLogin"></div>
    </div>
  </div>
</body>
</html>